.cart-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000075;
  z-index: 999;
  transition: all 0.3s ease-in;
}

.cart-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 3rem 2.5rem 1.5rem 2.5rem;
  background-color: whitesmoke;
  width: 35rem;
  height: 100%;
  transition: all 0.4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 900px) {
    width: 100%;
    padding: 2rem 1rem;  
  }
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  border: none;

  @media (max-width: 900px) {
    top: 0.5rem;
    right: 1.5rem;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ebebeb;
  border-radius: 5px;

   @media (max-width: 900px) {
   width: 100%;
   height: auto;
  }
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
 /*  border-radius: 50%; */

  @media (max-width: 900px) {
    width: 70px;
    height: 70px;
  }
}

.cart-item .info {
  display: flex;
  flex-direction: column;
}

.cart-item p {
  margin: 0;
  color: #777;
}

.item-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media (max-width: 900px) {
    font-size: 0.8rem;
  }
}

.item-controls {
  display: flex;
  align-items: center;

  button {
    background-color: #9595953d;
    border: none;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    margin: 0 8px;
    display: inline-block;
    transition-duration: 0.4s;

    &:hover {
      background-color: #cccccc;
    }
  }

  span {
    font-size: 16px;
    margin: 0 8px;
  }
}

.remove-from-cart-btn {
  cursor: pointer;
}

.shopping-bag{
  cursor: pointer;
  color: black
}

.empty-cart-message {
  text-align: center;
  margin-top: 2rem;
}

.shopping-cart-icon {
  font-size: 1.5rem !important;

  @media (max-width: 900px) {
    font-size: 1.1rem !important;
  }
}

