.shop {
  width: 70%;
  margin: 1rem auto 0 auto;
  padding-top: 1rem;
}

.shop-header {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 5rem;
}
#cw1 {
  padding-top: 0rem;
}

.shop-title {
  text-transform: uppercase;

  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.view {
  text-transform: capitalize;
  color: black;
  margin-top: 20px;
  display: inline-flex;
  font-weight: bold;
}

.items-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 740px) {
    grid-template-columns: auto auto auto;
  }
  @media screen and (min-width: 990px) {
    grid-template-columns: auto auto auto auto;
  }
}

.item-container__a {
  position: relative;
  section {
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
}

.item-container__b {
line-height: 1.4;
  h3 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  p{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: rgb(96, 96, 96);
    font-weight: 700;
  }
}

.hover-modal {
  display: none; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem; 
  background: rgba(0, 0, 0, 0.5); 
  color: white; 
  text-align: center; 
}

.item-container__a:hover .hover-modal {
  display: block; 
}

.quick-add-to-cart {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white; 
  font-size: 1rem; 
  transition: color 0.3s ease;
  
  &:active {
    color: rgb(38, 161, 255);
  }
}

.add-to-cart {
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border: none;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0%);
  transition: box-shadow 0.3s ease;
  &:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    color: rgb(38, 161, 255);
  }
}


