.shop {
  width: 92%;
  margin: 1rem auto 0 auto;
  padding-top: 1rem;
}

.shop-header {
  width: 100%;
  margin-bottom: 25px;
  padding-top: 5rem;
}
#cw1 {
  padding-top: 0rem;
}

.shop-title {
  text-transform: uppercase;

  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.view {
  text-transform: capitalize;
  color: black;
  margin-top: 20px;
  display: inline-flex;
  font-weight: bold;
}

.items-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 740px) {
    grid-template-columns: auto auto auto;
  }
  @media screen and (min-width: 990px) {
    grid-template-columns: auto auto auto auto;
  }
}

.item-container__a {
  position: relative;
  p {
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
}

.add-to-cart {
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border: none;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0%);
  transition: box-shadow 0.3s ease;
  &:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    color: rgb(38, 161, 255);
  }
}

.item-container__b {
  h3 {
    margin-bottom: 5px;
    margin-top: 4px;
    p {
      text-transform: capitalize;
      text-decoration: none;
      color: #444444;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
    }
  }

  .color {
    color: #6e6e6e;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 5px;
  }

  p {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }
}
