* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color:whitesmoke;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero img {
    object-fit: cover;  
}

.footer {
  background-color: whitesmoke;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.817);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.href{
  text-decoration: none;
  color: black;
  border-bottom: #0c0c0cf3 0.5px solid;
}

